* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


body {
  background: #71c9d3;
  color: #333;
}

/* ===== HEADER ===== */
.main-header {
  background: linear-gradient(135deg, #007bff, #ff6600);
  color: #9d7dbe;
  text-align: center;
  padding: 60px 20px;

}

.main-header h1 {
  font-size: 2.5em;
}

.navbar {
  
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
  padding: 12px 0;
  z-index: 1000;
  border-bottom: 2px solid #ff6600;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.navbar a {
  color: #74ebd5;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 6px;
}

.navbar a:hover {
  background: #ff6600;
  
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background: #f3a085;
  min-width: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #007bff;
  display: block;
  padding: 10px;
}

.dropdown-content a:hover {
  background: #ea85e0;
  color: #ff6600;
  
}

/* ===== BLOCK ===== */
.block {
  max-width: 900px;
  margin: 40px auto;
  background: #cfed4a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
 
}

.block h2 {
  border-left: 5px solid #007bff;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #ff6600;
}

/* ===== PRODUCT ===== */
.shop {
  text-align: center;
  
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  padding: 15px;
  background: #fafafa;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(205, 45, 45, 0.2);
}

.product button {
  
  margin-top: 10px;
  background: #d2e82f;
  color: rgb(174, 47, 94);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.product button:hover {
  background: #0056b3;
}
